@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed:400");
html,
body {
  font: normal 100%/1.3 "Montserrat", sans-serif;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  background-color: rgba(246, 240, 232, 0.562);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu Condensed", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  object-fit: cover;
}
input[type="range"]:active {
}
input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  border-radius: 30px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  background-color: rgba(223, 202, 175, 0.475);
  border-radius: 30px;
  
}
input[type="range"]::-webkit-slider-thumb {
  height: 0.9rem;
  width: 0.8rem;
  border-radius: 7px;
  background: rgba(62, 37, 6, 0.996);
  cursor: pointer;
  -webkit-appearance: none;
}

button {
  background-color: rgba(183, 126, 58, 0.277);
  border-radius: 8px;
  border-width: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0.3rem 1rem 0.3rem;
  text-align: center;
}

/*main header*/
.mastHeader {
  text-align: center;
}

/*project base*/
/*page layout*/
.media-containers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem 1rem;
  text-align: center;
}
#controls{
display: flex;
flex-direction: row;
flex-wrap: wrap;
display: inline-block;
}

#track-duration {
  padding: 0.4rem 0.3rem 0.4rem;

  
}
#visual {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*playlist section*/
#playlist-items {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.4rem 1rem;
}
#selected-track-cover {
  width: 300px;
  height: 300px;
}

#song-items img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  align-self: flex-start;
  padding: 0.2rem 0.4rem 0.2rem;
  border-radius: 10px;
  
}


#song-items h2{
display: block;
font-size: 1.3rem;
}
/*active on artist name*/

#player {
  padding: 1.4rem;
  flex: 1 1 0;
  background-color: rgba(99, 58, 9, 0.277);
  border-radius: 30px;
}

#playlist-section {
  padding: 0.3rem;
  flex: 1 1 0;
  background-color: rgba(213, 203, 189, 0.276);
  justify-content: center;
  border-radius: 30px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#song-items{
  
  border-bottom: 1px solid rgba(160, 125, 79, 0.153);
  border-radius: 2px;

  cursor: pointer;
}
#song-items:hover{
  background-color: rgba(230, 224, 216, 0.366);
}

#song-items.active {
  color: rgba(145, 106, 56, 0.925);
  background-color: rgba(193, 173, 148, 0.277);
  border-radius: 8px;
  animation: pulse 3s infinite;
}
#buttonPause{
  animation: pulse 3s infinite;
  color: rgb(213, 206, 196);
  text-shadow:  0 0 5px rgb(147, 97, 28);
}
.paused {
  animation-play-state: paused;
}
#icon-song{
  height: 5rem;  
  width: 5rem;  
  margin:auto;
  border-radius:50%; 
  box-shadow: 0 0 4px rgba(176, 134, 75, 0.55);
  animation: alternate 2s infinite breathe ease-in-out;
  }

  
#buttonMute:active{
color: wheat;
}
.st0{
fill: none;


}
#audio-lines{
fill:rgba(148, 91, 4, 0.575);
}


#selected-track-cover{
  margin-top: 1rem;
  padding: 2rem 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(123, 92, 48, 0.575), 0 6px 20px 0 rgba(255,0,0, 0);
  animation:glide 2s ease-in-out alternate infinite;
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(138, 99, 47, 0.925);
  }
  70% {
      -webkit-box-shadow: 0 0 0 2px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}


@keyframes breathe {
  0% {
    box-shadow: 0 0  5px rgba(109, 67, 8, 0.365), 0  0 13px       rgba(143, 87, 8, 0.947), 0 0  14px rgba(184, 172, 156, 0.575), 0 0  16px rgba(35, 135, 112, 0.3), 0 0  6px rgba(4, 52, 33, 0.187);
   }
  }

@media only screen and (min-width: 48em) {
  #song-items {
    display: flex;
    flex-direction:row-reverse;
    align-items: center; /* Align it */
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
  }

  #song-items img {
    width: 350px;
    height: 200px;
  }
}

@media only screen and (min-width: 60em) {
  .media-containers {
    display: flex;
    flex-direction: row;
  }
  #visual {
    padding-top: 2rem;
  }
  #song-items img {
    width: 150px;
    height: 100px;
  }
}





